.cart {
	margin-top: 70px;
	padding-bottom: 370px;
}

.cart__container {
	background: #272727;
	border-top: 1px solid #000;
	width: 80%;
	margin: 0 auto;
}

.cart__title {
	color: white;
	text-align: center;
	margin-top: 40px;
}

.cart__content {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.cart__item {
	width: 300px;
	background: whitesmoke;
	margin-right: 10px;
	border-radius: 40px;
	padding: 10px;
}

.cart__image {
	width: 250px;
	height: 250px;
	display: block;
	margin: 0 auto;
}

.cart__price {
	font-family: Pompiere;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.cart__delete {
	display: block;
	margin: 0 auto;
	background: red;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	color: white;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 400;
}

.cart__bottom {
	padding: 10px;
	display: flex;
	align-items: baseline;
}

.cart__summary {
	font-family: Pompiere;
	font-size: 24px;
	font-weight: 600;

	color: white;
}

.cart__button {
	margin-left: 100px;
	border: none;
	background: #161616;
	color: white;
	font-size: 24px;
	font-family: Pompiere;
	cursor: pointer;
	border-radius: 100px;
	/* height: 40px; */
	padding: 10px 20px;
	text-align: center;
}

.cart__button:hover {
	background: #3f3f3f;
}

.pay__wrapper {
	display: flex;
	justify-content: space-between;
}

.pay__wrapper-b {
	display: flex;
}

.par__form {
}
.pay__credit {
	display: block;
	margin-top: 10px;

	font-size: 16px;

	width: 100%;
}

.pay__credit-b {
	margin-top: 10px;
	padding: 5px;
	width: 50px;
	margin-right: 30px;
}

.pay__credit::placeholder,
.pay__credit-b::placeholder {
	font-size: 16px;
	font-family: Pompiere;
}

.pay__button {
	background: rgb(41, 40, 40);
	border: none;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	padding: 5px 20px;
	border-radius: 10px;
	font-family: Pompiere;
	cursor: pointer;
}

.pay__button:hover {
	background: rgb(24, 24, 24);
}


.empty{
	color: white;
	font-size: 30px;
	text-align: center;
}

.pay__info{
	color: rgb(19, 150, 1);
	font-size: 0.8rem;
}