.admin {
	/* background: linear-gradient(rgba(27, 27, 27, 0.164), rgba(0, 0, 0, 0.596)),
		url('../../../img/header_bg.png') 50% no-repeat; */
	background-size: cover;
	/* height: 800px; */
	border-top: 1px solid #000;
	
}

.admin__person {
	margin-top: 2%;

	margin: 0 auto;
	/* border: 1px solid rgb(255, 255, 255); */

	display: flex;
	justify-content: space-around;
	width: 80%;
	padding: 20px;
	padding-bottom: 10%;
}

.admin__right {
	width: 40%;
	font-family: Pompiere;
}
.admin__title {
	margin-top: 10%;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;

	color: rgb(255, 255, 255);
}

@keyframes Appearance {
	0% {
		color: white;
		text-shadow: 0 0 10px #00b7ff, 0 0 20px #00b7ff, 0 0 30px #00b7ff, 0 0 40px #00b7ff;
	}
	100% {
		color: white;
		text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
	}
}

.admin__avatar {
	width: 400px;
	height: 400px;
	object-fit: cover;
	transition: 0.5s;
	border: 1px solid rgb(255, 250, 250);
}

.admin__label {
	position: relative;
	display: block;
	cursor: context-menu;
	width: 100%;
	height: 400px;
}

.music__label {
	color: rgb(73, 147, 238);
	text-transform: uppercase;
	margin-bottom: 6px;
	display: block;
}

.admin__label:hover .admin__avatar {
	filter: grayscale(1);
}

.admin__label:hover .admin__icon {
	color: rgb(39, 39, 39);
}

.admin__input {
	height: 1px;
	width: 1px;
	margin-bottom: 10px;
}

.admin__icon {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #ff0000;
	font-size: 82px;
	/* background: ; */
	margin: 0;
	transition: 0.5s;
	cursor: pointer;
}

.admin__text-input {
	width: 100%;
	height: 40px;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(255, 255, 255);
	margin-bottom: 16px;
	/* margin-left: 30px; */
	padding: 5px;
	padding-left: 0;
	background: white;
}
.admin__text-input::placeholder {
	color: rgb(0, 0, 0);
}

.admin__textarea {
	display: block;
	resize: none;
	width: 100%;
	height: 300px;
	/* margin-left: 30px; */
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: none;
}

.admin__textarea::placeholder {
	color: rgb(0, 0, 0);
}

.admin__button {
	background: #5ab0f2;
	border-radius: 10px;
	padding: 15px 50px;
	color: #fff;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

.admin__btn {
	padding: 10px;
	cursor: pointer;
	background: transparent;
	border: 1px solid white;
	color: white;
	/* width: 0%; */
}
.admin__btn:hover {
	background: rgba(255, 255, 255, 0.527);
}

.admin__file {
	color: white;
}

.admin__button:hover {
	background: rgba(51, 117, 239, 0.877);
}

.option__item {
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.type__img-wrap{
	width: 30px;
	margin-right: 20px;
	padding: 20px;
	padding-bottom: 10px;
	cursor: pointer;
}

.type__img-select{
	width: 30px;
	height: 40px;
}

.type__content{
	display: flex;
	justify-content: flex-start !important;
}

.option__item-type{
	color: black;
}